*{
   margin: 0px;
   padding: 0px;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-image: url("ram.jpg");
    background-repeat: repeat;
    background-size: 50%;
    background-position: fixed;
}
#heading{
    color: rgb(255, 0, 0);
    background-color: yellowgreen;
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    height: 270px;
    text-align: center;
    background-image: url("download.jpg");
    background-repeat:repeat;
    background-position: top left;
    background-attachment: scroll;
}
#headingTwo{
    color: rgba(0, 0, 255, 0.5);
    border: 2px solid black;
    background-color: #ff7300;
    text-align: center;
    padding: 2px;
    margin: 2px;
    height: 40px;
}
#para{
    color:#fbc;
    background-color: hsl(0, 80%, 50%);
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    font-size: 12px;
    /* width: 100%; */
    height: 50px;
    text-align: left;
}
#root{
    border: 2px solid black;
    padding: 50px;
    margin: 2px;

}
#box{
    border: 2px solid yellow;
    padding: 130px;
    margin: 2px;

}
#small{
    border: 2px solid rgb(0, 255, 21);
    padding: 250px;
    margin: 2px;

}
p{
    font-size: 20px;
    height: 200px;
    width: 100%;
    object-fit:content;
    background: #ff00ff url("ram.jpg") no-repeat left bottom;
    
}